.header-section {
    margin: 0 auto;
    max-width: 1140px;
    max-height: 71px;
}

.fresh-flowers-container {
    margin: 120px auto;
    max-width: 1140px;
}

.cart-container {
    margin: 120px auto;
    max-width: 1140px;
}

.flower-plants-container {
    margin: 120px auto;
    max-width: 1140px;
}

.image-deals {
    display: grid;
    grid-template-columns: 360px 730px;
    gap: 20px;
    margin: 120px auto;
    max-width: 1140px;
}

.body-image {

    height: 415px;
}

.background-1 {
    background-image: url(./assets/deal-bloom.png);
    height: 200px;
    color: white;
    font-weight: 700;
}

.background-2 {
    background-image: url(./assets/deal-bloom.png);
    height: 200px;
    color: white;
    font-weight: 700;
}

.background-3 {
    background-image: url(./assets/deal-zabo.png);
    color: white;
    font-weight: 700;
}

.background-4 {
    background-image: url(./assets/news-letter-bg.png);
    margin: 120px auto;
    width: 1440px;
    height: 533px;
}

.input-email {
    width: 650px;
    height: 48px;
}

.footer-section {
    margin: 120px auto;
    max-width: 1120px;
}

.footer-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}

/*responsive*/
@media screen and (max-width: 576px) {

    .fresh-flowers-container,
    .cart-container,
    .latest-deals,
    .image-deals {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {

    .footer-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 40px;
    }
}